<div  class="container">
   <p class="text-center display-5">Tous Les Condidatures</p>
   <table id="dtBasicExample" class="table table-striped table-bordered table-sm mt-4" cellspacing="2px" width="100%">
    <thead>
      <tr>
        <th class="th-sm">#
        </th>
        <th class="th-sm">Nom
        </th>
        <th class="th-sm">Prenom
        </th>
        <th class="th-sm">cin
        </th>
        <th class="th-sm">titre
        </th>
        <th class="th-sm">Date de depot
        </th>
        <th class="th-sm">Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rep of reponse">
        <td>{{rep.userapp.id}}</td>
        <td>{{rep.userapp.nom}}</td>
        <td>{{rep.userapp.prenom}}</td>
        <td>{{rep.userapp.cin}}</td>
        <td>{{rep.userapp.titre}}</td>
        <td>{{rep.time}}</td>
        <td><button  (click)="voirDetails(rep.userapp.id)" class="btn text-white " style="background-color:#ff735c ; ">Voir le Dossier</button></td>
      </tr>
      
  </table>
</div>

