<nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #1F3044;" >
      <a class="nav-link btn"style="background-color: #ff735c; color: #1d2e42;" routerLink="/Accueil" routerLinkActive="active"><-</a>
    <li class="nav-item">
      <a class="nav-link position-absolute text-white top-0 start-50 translate-middle-x display-6" >PROCÉDURE DE DÉPÔT</a>
    </li>
</nav>
    <div class="container-fluid " style="margin-top:100px ;">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <img src="assets/img/Procedure.png"
              class="img-fluid" alt="Sample image">
          </div>

          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="card">
                  <ul>
                    <li>
                        <b>Etape 1:</b> Creer un compte et verifier vos information aprés la validation. <a href="#!"
                    class="link-danger" routerLink="/Inscription" routerLinkActive="active"> Cliquer ici</a> 
                    </li>
                    <li>
                      <b>Etape 2:</b> Enregistrer le clé de recuperation sous la forme suivante: <p class="text-danger text-center">XXXX-XXXX-XXXX-XXXX-XXXX</p> 
                  </li>
                  <li>
                    <b>Etape 3:</b> Connecter vous. <a href="#!"
                class="link-danger" routerLink="/Login" routerLinkActive="active">Cliquer ici</a> 
                </li>
                <li>
                  <b>Etape 4:</b> S'inscrire au Concours disponible sur la platfome.
              </li>
              <li>
                <b>Etape 5:</b> Consulter le communique et le site web de l'organisme sur la page Acceuil.<a href="#!"
                class="link-danger" routerLink="/Accueil" routerLinkActive="active">Cliquer ici</a> 
              </li>
              <li>
                <b>Etape 6:</b> Imprimer le reçu de depot et faire le signateur.<a href="#!"
                class="link-danger" routerLink="/Accueil" routerLinkActive="active">Cliquer ici</a> 
            </li>
            <li>
              <b>En cas d'erreur</b> <i class="text-success"> lors de la remplissage vous avez le droit de modifier le fomulaire.</i> 
          </li>
                  </ul>
            </div>
            <p class="text-danger">Toute information incorrecte ou sans preuve légale engendrera l'élimination du dossier.</p>
            <h3>La date limite de candidature est fixée au {{dateFin}} à minuit.</h3>
          </div>
        </div>  
        </div> 
        <footer class="text-center text-lg-start fixed-bottom" style="background-color: #1F3044;">
          <div class="text-center text-white p-3" style="background-color: #1F3044;">
            ALL Rights Reserved 2022 @CopyRights
          </div>
        </footer>