<nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #1F3044;" >
  <li class="nav-item">
    <a  class="nav-link btn"style="background-color: #ff735c; color: #1d2e42;" routerLink="/Accueil" routerLinkActive="active"><-</a>
</li>
<li class="nav-item">
  <a class="nav-link position-absolute top-0 start-50 translate-middle-x display-6 text-white" >Formulaire d'Inscription</a>
</li>
<button class="navbar-toggler" type="button" (click)="toggleNavbar()">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse " [ngClass]="{ 'show': navbarOpen }">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a *ngIf="true" class="nav-link position-absolute top-0 end-0"><button class="btn" (click)="logout()" style="background-color: #ff735c;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg></button></a>
    </li>
  </ul>
</div>
</nav>
    <img  [src]="image" class="rounded-circle center" alt="logo" height="100px">
    <div class="container">
          <div class="card shadow mt-2">
                <div class="row">
                     <h2 class=""><b> Merci d'avoir remplir le formulaire.</b> <i class="text-sucess" style="color: green;"> Votre Inscription a été Enrigstré avec sucess</i></h2>
                </div>
                <div class="row"><h3>
                  vous pouvez <u style="color: red;">modifier</u> vos reponses et <u style="color: red;"> imprimer </u> votre reçu d'inscription
                  </h3></div>
                <div class="row"><div class="col "><button class="btn text-white mx-auto d-block" (click)="goTomodPage()" style="background-color: #ff735c;">Modifer vos reponses</button></div></div>
                <div class="row"><div class="col "><button id="print-section" (click)="print()"class="btn mt-2 text-white mx-auto d-block" style="background-color: #1F3044;">Imprimer le reçu </button></div></div>
              </div>
    </div>
    <footer class="text-center text-lg-start fixed-bottom" style="background-color: #1F3044;">
      <div class="text-center text-white p-3" style="background-color: #1F3044;">
        ALL Rights Reserved 2022 @CopyRights
      </div>
    </footer>